EXPO_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-local-anon-key
SUPABASE_AUTH_SMS_TWILIO_ACCOUNT_SID=
SUPABASE_AUTH_SMS_TWILIO_AUTH_TOKEN=
SUPABASE_AUTH_SMS_TWILIO_MESSAGE_SERVICE_SID=
